/* Estilos para la galería */
.gallery-item {
    max-width: 500px; 
    margin: 0 auto; 
}

/* Estilo para el icono de cuadrado celeste */
.fas.fa-square {
    color: #007bff; 
}

/* Estilos para el h4 */
h4 {
    margin-top: 20px;
    margin-left: 10px;
    display: inline; 
}

/* Estilo  para el span */
.custom-text {
    margin-top: 10px;
    float: right; 
    margin-right: 10px;
}

/* Estilo para los párrafos */
p {
    margin-left: 10px;
    text-align: justify; 
}

/* Estilo  para la clase .likes */
.likes {
    margin-top: 10px;
}

/* Estilo los tabs */
.nav-tabs .nav-link {
    border: none; 
    border-radius: 0; 
    background-color: transparent; 
    color: #000; 
}

/* Estilo para el tab activo */
.nav-tabs .nav-item.active .nav-link {
    background-color: transparent; 
    color: #007bff; 
    border: none; 
}

/* Estilo para el contenedor de las galerías */
.container.mt-4 {
    border: none; 
    padding: 0; 
    box-shadow: none; 
}

/* Estilo para eliminar el borde superior entre los tabs y las imágenes */
.container.mt-4 .nav-tabs {
    border-bottom: none; 
}
